.tableBox{
    border:2px solid black;
    /* height:200px; */
    width:600px;
    margin:auto;
    margin-top:5%
}

.inputBox{
    margin-left:20px;
    margin-top:20px
}

.button{
    margin-left:10px;
    color:white;
    background-color: blue;
    border:none;
    cursor: pointer;
}